:root {

/*TYPOGRAPHY*/
/*SCALES*/ 
    --typeBodySizeSmall: 16pt;  /* scale your type sizes relative to eachother—like multiples... CHANGE TITLE SCALES? MAKE ALL* TYPE SCALES DERIVATIVE*/ 
    --typeBodySizeRegular: 20.8pt; 
    --typeBodySizeBig: 25.6pt; 
    --typeBodyContrastLight: lighter; /* may have to get rid of this; not widely applicable  */
    --typeBodyContrastRegular: normal;
    --typeBodyContrastBold: bold; 
    
    --borderRadius: 40px; 
    --borderRadius_menu: 40px; 
    --menuDisplay: none; 
    --menuDisplay_grid: none;
    --achievementMenu_display: none;
    --achievementMenu_display_open: flex;

    

    
    --typeTitleSizeSmall: 50pt; 
    --typeTitleSizeNormal: 65pt; 
    --typeTitleSizeBig: 80pt;

/* COLORS */ 
    --temp_contrastMed: oklch(0.9691 0.0107 76.6); /*oklch to have hue slider seperate */ 
    --color_dark: oklch(0.2276 0.1 78.19);
    --color_dark_hover: oklch(0.4 0.1 78.19);
    --color_light: oklch(0.9691 0.0107 76.6);
    --color_light_hover: oklch(0.95 0.1 90);
    --color_temp: oklch(1 0 0); 
        /* COLORS... PER TYPE HIERARCHY */ 
    --colorType_title: var(--color_dark); /* ??????????*/ 
    --colorType_body: var(--color_dark);
    --achievementType: var(--color_dark);
    --achievement_complete_typeColor: #AAFFAA; 

/* HIGHLIGHTS */ 
    /*literally does nothing */ 
    --highlight_on: oklch(0.8941 0.2023 102.71);
    --highlight_off: oklch(0.9691 0.0107 76.6);
    --highlight: oklch(0.9691 0.0107 76.6);

/*FACES*/ 
    --typefaceSerif: "Times New Roman", "Baskerville", serif; 
    --typefaceSansSerif: "Arial", "Helvetica", sans-serif; 
    --typefaceFriendly: "Comic Sans MS", "Comic Sans", cursive; 
/* USE A WEB-HOSTED(?) FONT—WILL PULL FROM THE WEB; probably comes closer to what you wanted;
Google Fonts' "Get Embed Code" */ 
/* may need to change later on to account for global, user-driven changes */ 

/*typeset DEFAULT*/
    --typeBodyFace: var(--typefaceSansSerif);
    --typeBodySize: var(--typeBodySizeSmall);
    --typeBodyColor: var(--color_dark);
    --typeBodyContrast: var(--typeBodyContrastRegular);
    --typeTitleFace: var(--typefaceSansSerif);
    --typeTitleSize: var(--typeTitleSizeSmall);
    --typeTitleColor: var(--color_dark);
    --typeFooterColor: var(--color_light);
    --typeButton: 13pt; 
    --typeButton_hover: 16pt; 
    --typeButton_hover_smaller: 14pt; 


    --typeBodyIndent: 50pt; 
    --typeBodyLeading: 145%; 

/*webiste bg*/
    --websiteBackgroundColor: var(--color_light);
    --footerBackgroundColor: var(--color_dark);
    --websiteBackgroundColor_hover: var(--color_light_hover);
    --websiteBackgroundImage_on: url('bgTXT1.png');
    --websiteBackgroundImage: 0;
        
/* GLOBAL VARIABLES */
    --waffleSide: 0px;
    --accessibilityFull: 0; 
    --accessibilityToggle: grid; 
    --navFull: 0px;

/*button openings*/
    --waffleSide_close: 0px;
    --waffleSide_open: 20%;
    --waffleSide_transition: (--waffleSide_transition_start)
    --waffleSide_transition_start: 0%; 
    --waffleSide_transition_end: 77.5%;
    --accessibilityFull_close: 0; 
    --accessibilityFull_open: 5fr; 
    --navFull_close: 0px; 
    --navFull_open: 45%; 
    --backdrop: 0; 
    
/*accessibility menu*/
/*colors*/
    --bgColorB: #1e1c19;
    --bgColorW: #f9f4ed; 
    
/*test*/
    --primary-bg-color: #1e90ff;
    --primary-color: #ffffff; 
}

/* SVGs */
.cls-1 {
    fill: var(--typeBodyColor); 
    stroke: var(--typeBodyColor); 
    stroke-linecap: round; 
    stroke-width: 4.5px; 
}

.cls-2 {
    fill: var(--websiteBackgroundColor); 
    fill-opacity: 0;
}

/* GLOBAL ELEMENTS */

.bodyGlobal  {
    background-color: var(--websiteBackgroundColor); 
    background-image: var(--websiteBackgroundImage);
    transition: 0.2s; 
}

.global {
    position: fixed; 
    right: 8%; 
    display: flex; 
    flex-direction: column; 
}

.waffleGlobal {
    width: 50px;
    height: 50px; 
}
 
.homeGlobal {
    width: 50px;
    height: 50px; 
}

.close {
    background-color: var(--color_light);
    color: var(--color_dark)
}

/* GLOBAL ELEMENTS: buttons*/
.waffleButton {
    background-color: var(--websiteBackgroundColor);
    display:flex;
    align-items: center;  
    justify-content: space-evely; 
    padding: 15px; 
    border-radius: var(--borderRadius);
    font-family: var(--typeBodyFace);
    font-size: var(--typeButton);
    color: var(--typeBodyColor); 
    border: 0px;  /* taking out border on outside of button */
}

.waffleButton:hover {
    background-color: var(--websiteBackgroundColor_hover);
    font-size: var(--typeButton_hover); 
    transition: 0.2s;
}

.homeButton {
    background-color: var(--websiteBackgroundColor);
    display:flex;
    align-items: center;  
    justify-content: space-evenly; 
    padding: 15px; 
    border-radius: var(--borderRadius);
    font-family: var(--typeBodyFace);
    font-size: var(--typeButton);
    color: var(--typeBodyColor); 
    border: 0px; 
}

.homeButton:hover {
    background-color: var(--websiteBackgroundColor_hover);
    font-size: var(--typeButton_hover); 
    transition: 0.2s;
}

.svgWaffle {
    margin-bottom: -70px; /* changing the bottom margins helps to shrink button/rid of unwanted negative space */
}

.svgHome {
    margin-left: 15px; 
}

.waffle_subMenu {
    /* review (and add) padding for menu items */ 
    display: var(--menuDisplay); 
    flex-direction: column; 
    justify-content: space-evenly; 
    height: 25%;
    position: fixed; 
    margin-left: var(--waffleSide_transition_end);
    background-color: var(--color_dark);
    width: var(--waffleSide); 
    overflow: hidden; /*prevents overflowing content from appearing*/
    transition: 1s; 
    border-radius: var(--borderRadius_menu);
    padding: 20px;
}

.waffleSub_close {
    position: relative;
    left: 25%; 
}

.optn {
    background-color: var(--bgColorW);
    padding: 15px; 
    border-radius: var(--borderRadius);
    font-size: var(--typeButton);
    font-family: var(--typeBodyFace);
}

.optn:hover {
    background-color: var(--websiteBackgroundColor_hover);
    font-size: var(--typeButton_hover_smaller); 
    transition: 0.2s;
}

.accessibilityMenu {
    background-color: var(--color_dark);
    font-family: var(--typeBodyFace);
    color: var(--bgColorW);
    display: var(--menuDisplay); 
    grid-template-columns: 55% 35% auto; 
    width: var(--accessibilityFull); 
    overflow: hidden; 
    position: fixed; 
    margin-left: 40%; 
    border-radius: var(--borderRadius_menu);
    padding: 0; 
    /*& margin-top: 15%; /* FOR TESTING!!!!!!!!!!!!! ; REMOVE LATER */ 
}

.a_button {
    font-size: 10pt;
    background-color: var(--color_light);
    border-radius: 7.5px;
    font-family: var(--typeBodyFace)
}

.a_button:hover {
    background-color: var(--websiteBackgroundColor_hover);
    transform: scale(1.15);
    transition: 0.1s;
}

.menuMain {
    margin-left: 10%;
    margin-bottom: 2%;
    font-size: 14pt;
}
    
.a_bodyText {
    display: grid; 
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 30% 30%; 
    row-gap: 20%;
    padding: 10%; /* not working */ 
}
    
.a_website {
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30%; 
    row-gap: 20%;
    padding: 10%; /* not working */ 
}

/* #myRange { */
    /* appearance: none; */ /* not working */
    /* width: 100%: */
/* } */  

.navMenu {
    background-color: var(--color_dark);
    font-family: var(--typeBodyFace);
    color: var(--color_light);
    display: var(--menuDisplay_grid);
    width: var(--navFull); 
    grid-template-columns: 45% 45% 5%;
    overflow: hidden;
    position: fixed; 
    margin-left: 60%;
    padding: 2%;
    border-radius: var(--borderRadius_menu);
}

.navHead {
    width: fit-content;
}

.navHead a:link {
    color: var(--color_light)
}

.navHead a:visited {
    color: var(--color_light)
}


.menuHead {
    font-size: 16pt;
    margin-left: -0.5%; 
    margin-top: -3%; 
    margin-bottom: -10%;
}

.menuSubHead {
    font-size: 14pt;
    margin-left: -0.5%; 
    margin-bottom: 5%;
}
    
.navSubMenu {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
}

.navSub {
    padding: 10px;
    display: flex;
    flex-direction: column; 
    font-size: 14pt;
}

.navSubSub{
    font-size: 12pt;
    margin-bottom: -5%; 
}

.navSubSub a:link {
    color: var(--color_light)
}

.navSubSub a:visited {
    color: var(--color_light)
}
    
.svgHome {
    margin-bottom: -70px; 
}

.achievementMenu {
    display: var(--achievementMenu_display);
    background-color: blue;
    width: 10%;
    height: 30%; 
    position: fixed; 
    margin-left: 75%; 
    padding: 2%; 
    border-radius: var(--borderRadius);
    flex-direction: column; 
}

.achievement {
    display: flex; 
    flex-direction: row; 
    background-color: green;
    color: var(--achievementType);
}

.achievementComplete {
    color: var(--achievementType);
}


/* STATIC ELEMENTS */
.static {
    margin-left: 20%;
    margin-right: 20%; 
    /* background-color: red; /* plus margins */ 
}

@media screen and (min-width: 360px) and (max-width: 500px) { 
        .static {
        margin-left: 5%;
        margin-right: 15%; /* accomadated for Samsung Galaxy S8 */ 
    }
}

.highlight {
    background-color: var(--highlight); /*not showing up in the first place*/ 
}
    

.title {
    font-family: var(--typeTitleFace);
    font-size: var(--typeTitleSize); 
    color: var(--typeTitleColor);
    transition: 0.2s; 
    background-color: var(--backdrop);
}

.bodyContent {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    background-color: var(--backdrop);
}

.bodyFirstLine {
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySize);
    color: var(--typeBodyColor);
    font-weight: var(--typeBodyContrast);
    transition: 0.2s; 
    text-indent: 0; 
    line-height: var(--typeBodyLeading);
    margin: 0px;
}

    
.body {
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySize);
    color: var(--typeBodyColor);
    font-weight: var(--typeBodyContrast);
    transition: 0.2s; 
    text-indent: var(--typeBodyIndent); 
    line-height: var(--typeBodyLeading);
    margin:0px; 
    background-image: var(--websiteBackgroundImage)
}
 
.linkExternal {
    background-color: var(--color_temp);
}

.oneImage {
    display: flex; 
    width: auto;
    height: 350px; /*!!!need to correct vertical px later—edit flex itself? */
    background-color: var(--color_temp);
}

.twoImages {
    display: flex; 
    gap: 1%;
    justify-content: space-evenly;
    margin-left: -5%;
    margin-right: -5%; 
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySize);
    line-height: var(--typeBodyLeading);
    color: var(--typeBodyColor);
    background-color: var(--backdrop)
}

.threeImages {
    display: flex; 
    gap: 5%;
    justify-content: space-evenly;
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySize);
}

.imageLeft {  
    width: 40%;
    height: 350px; 
}

.imageRight {
    width: 40%;
    height: 350px; 
}

.imageThreeLeft {
    width: 30%;
    height: 350px;
}

.imageThreeMiddle {
    width: 30%;
    height: 350px; 
}

.imageThreeRight {
    width: 30%;
    height: 350px; 
}

.twoButtons {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    margin-top: 5%; 
}

.threeButtons {
    display: grid; /*defines grid as a whole; child "commands" define alignment of each individual grid item through their divs */
    grid-template-columns: 33% 33% 33%;  
    /* border: 2px solid black; */ /*temp, grid testing */
}

.grid_3s {
    display: grid; /*rememeber—flex display will autofill the negative space for you... not what you want when controlling positions of each item in a grid*/
    justify-content: center; 
}

.buttonLeft {
    font-family: var(--typeBodyFace);
    font-size: var(--typeButton);
    background-color: var(--websiteBackgroundColor);
    border-radius: var(--borderRadius);
    border-color: var(--typeBodyColor);
    color: var(--typeBodyColor);
    border-style: solid; 
    padding: 30px; 
}

.buttonLeft:hover {
    background-color: var(--websiteBackgroundColor_hover);
    font-size: var(--typeButton_hover); 
    transition: 0.2s;
}
    
.buttonRight {
    font-family: var(--typeBodyFace);
    font-size: var(--typeButton);
    background-color: var(--websiteBackgroundColor); 
    border-radius: var(--borderRadius);
    border-color: var(--typeBodyColor);
    color: var(--typeBodyColor);
    border-style: solid; 
    padding: 30px; 
}

.buttonRight:hover {
    background-color: var(--websiteBackgroundColor_hover);
    font-size: var(--typeButton_hover); 
    transition: 0.2s;
}
    
.buttonLeft_3s {
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySizeSmall);
    background-color: var(--temp_contrastMed);
    border-radius: var(--borderRadius);
    padding: 20px; 
}

.buttonMiddle_3s {
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySizeSmall);
    background-color: var(--temp_contrastMed);
    border-radius: var(--borderRadius);
    padding: 20px; 
}

.buttonRight_3s {
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySizeSmall);
    background-color: var(--temp_contrastMed); 
    border-radius: var(--borderRadius);
    padding: 20px; 
}


.footer {
    color: var(--typeFooterColor);
    background-color: var(--footerBackgroundColor);
}

.footerText {
    display: grid; 
    grid-template-columns: 20% 50% 30%; 
    padding: 20px;
    margin-top: 3%;
    font-family: var(--typeBodyFace)
}
    

/* variables are definited by a ":root", then called with a "var()" */ 
/*

:root{
    --colorBGtest: #1e1c19;
    --colorBGtest2: #f9f4ed;
}

*/