:root {

/*TYPOGRAPHY*/
/*SCALES*/ 
/* IN POINTS... */
    --typeBodySizeSmall: 13.312pt;  
    --typeBodySizeRegular: 16.64pt; 
    --typeBodySizeBig: 20.8pt; 
    --typeBodySizeSmall_min: 6.8096pt;   /* min sizes operate on slightly different calculations */
    --typeBodySizeRegular_min: 8.512pt; 
    --typeBodySizeBig_min: 10.64pt; 

    --type_bodySubHeadSizeSmall: 16.64pt;
    --type_bodySubHeadSizeSmall_min: 8.512pt;
    --type_bodySubHeadSizeRegular: 20.8pt; 
    --type_bodySubHeadSizeRegular_min: 10.64pt;
    --type_bodySubHeadSizeBig: 26pt; 
    --type_bodySubHeadSizeBig_min: 13.3pt
    
    
    --typeBodyContrastLight: lighter; /* may have to get rid of this; not widely applicable  */
    --typeBodyContrastRegular: normal;
    --typeBodyContrastBold: bold; 
    --quoteIndent: 7.5%; 
    
    --borderRadius: 40px; 
    --borderRadius_menu: 40px; 
    --menuDisplay: none; 
    --menuDisplay_grid: none;
    --achievementMenu_display: none;
    --achievementMenu_display_open: flex;

    

    

/* COLORS */ 
    --temp_contrastMed: oklch(0.9691 0.0107 76.6); /*oklch to have hue slider seperate */ 
    --color_dark: oklch(0.2276 0.1 78.19);
    --color_dark_hover: oklch(0.4 0.1 78.19);
    --color_light: oklch(0.9691 0.0107 76.6);
    --color_light_hover: oklch(0.95 0.1 90);
    --color_temp: oklch(1 0 0); 
        /* COLORS... PER TYPE HIERARCHY */ 
    --colorType_title: var(--color_dark); /* ??????????*/ 
    --colorType_body: var(--color_dark);

    --achievementType1: var(--color_light);
    --achievementType2: var(--color_light);
    --achievementType3: var(--color_light);
    --achievement_complete_typeColor: #AAFFAA; 

/* HIGHLIGHTS */ 
    /*literally does nothing */ 
    --highlight_on: oklch(0.8941 0.2023 102.71);
    --highlight_off: oklch(0.9691 0.0107 76.6);
    --highlight: oklch(0.9691 0.0107 76.6);

/*FACES*/ 
    --typefaceSerif: "Times New Roman", "Baskerville", serif; 
    --typefaceSansSerif: "Arial", "Helvetica", sans-serif; 
    --typefaceFriendly: "Comic Sans MS", "Comic Sans", cursive; 
/* USE A WEB-HOSTED(?) FONT—WILL PULL FROM THE WEB; probably comes closer to what you wanted;
Google Fonts' "Get Embed Code" */ 
/* may need to change later on to account for global, user-driven changes */ 

/*typeset DEFAULT*/
    --typeBodyFace: var(--typefaceSansSerif);
    --typeBodySize: var(--typeBodySizeRegular);
    --typeBodySize_min: var(--typeBodySizeRegular_min);
    --typeSubHeadSize: var(--type_bodySubHeadSizeRegular);
    --typeSubHeadSize_min: var(--type_bodySubHeadSizeRegular_min);
    --typeBodyColor: var(--color_dark);
    --typeBodyContrast: var(--typeBodyContrastRegular);

    --typeTitleFace: var(--typefaceSansSerif);
    --typeTitleSize: 40.625pt;
    --typeTitleSize_min: 20.78125pt;
    --typeSubTitleSize: 32.5pt;
    --typeSubTitleSize_min: 16.625pt; 
    --typeSize_tagline: 13.312pt; 
    --typeSize_tagline_min: 6.8096pt; 
    
    --typeTitleColor: var(--color_dark);
    --typeFooterColor: var(--color_light);
    --typeButton: 13pt; 
    --typeButton_hover: 16pt; 
    --typeButton_hover_smaller: 14pt; 

    --typeButton_global: 13.312pt; 
    --typeButton_hover_global: 14.312pt;
    --typeButton_global_min: var(--typeBodySize_min); 


    --typeBodyIndent: 50pt; 
    --typeBodyLeading: 145%; 

/*webiste bg*/
    --websiteBackgroundColor: var(--color_light);
    --footerBackgroundColor: var(--color_dark);
    --websiteBackgroundColor_hover: var(--color_light_hover);
    --websiteBackgroundImage_on: url('bgTXT1.png');
    --websiteBackgroundImage: 0;
        
/* GLOBAL VARIABLES */
    --waffleSide: 0px;
    --accessibilityFull: 0; 
    --accessibilityToggle: grid; 
    --navFull: 0px;

/*button openings*/
    --waffleSide_close: 0px;
    --waffleSide_open: 20%;
    --waffleSide_transition: (--waffleSide_transition_start)
    --waffleSide_transition_start: 0%; 
    --waffleSide_transition_end: 75%;
    --accessibilityFull_close: 0; 
    --accessibilityFull_open: 5fr; 
    --navFull_close: 0px; 
    --navFull_open: 45%; 
    --backdrop: 0; 
    
/*accessibility menu*/
/*colors*/
    --bgColorB: #1e1c19;
    --bgColorW: #f9f4ed; 

/* Button sizes */

    --buttonHover_sizeUp: scale(1.05);
    
/*test*/
    --primary-bg-color: #1e90ff;
    --primary-color: #ffffff; 
}

/* SVGs */
.cls-1 {
    fill: var(--typeBodyColor); 
    stroke: var(--typeBodyColor); 
    stroke-linecap: round; 
    stroke-width: 4.5px; 
}

.cls-2 {
    fill: var(--websiteBackgroundColor); 
    fill-opacity: 0;
}
    
/* GLOBAL ELEMENTS */

.bodyGlobal  {
    background-color: var(--websiteBackgroundColor); 
    background-image: var(--websiteBackgroundImage);
    transition: 0.2s; 
}

.global {
    position: fixed; 
    right: 8%; 
    display: flex; 
    flex-direction: column; 
}

.headBG {
    display: none;
}

.waffleGlobal {
    width: 50px;
    height: 50px; 
}
 
.homeGlobal {
    width: 50px;
    height: 50px; 
}

.close {
    background-color: var(--color_light);
    color: var(--color_dark)
}

/* GLOBAL ELEMENTS: buttons*/

.waffleButton {
    background-color: var(--websiteBackgroundColor);
    display:flex;
    align-items: center;  
    justify-content: space-evely; 
    padding: 15px; 
    border-radius: var(--borderRadius);
    font-family: var(--typeBodyFace);
    font-size: var(--typeButton_global);
    color: var(--typeBodyColor); 
    border: 0px;  /* taking out border on outside of button */
}

.waffleButton:hover {
    background-color: var(--websiteBackgroundColor_hover);
    /* font-size: var(--typeButton_hover_global);  */
    transform: var(--buttonHover_sizeUp);
    transition: 0.2s;
    cursor: pointer;
}

.homeButton {
    background-color: var(--websiteBackgroundColor);
    display:flex;
    align-items: center;  
    justify-content: space-evenly; 
    padding: 15px; 
    border-radius: var(--borderRadius);
    font-family: var(--typeBodyFace);
    font-size: var(--typeButton_global);
    color: var(--typeBodyColor); 
    border: 0px; 
}

.homeButton:hover {
    background-color: var(--websiteBackgroundColor_hover);
    /* font-size: var(--typeButton_hover_global);  */
    transform: var(--buttonHover_sizeUp);
    transition: 0.2s;
}

.svgWaffle {
    position: relative; 
    margin-bottom: -70px; /* changing the bottom margins helps to shrink button/rid of unwanted negative space */
}

.svgHome {
    position: relative; 
    margin-left: 15px; 
}

.waffle_subMenu {
    /* review (and add) padding for menu items */
    display: var(--menuDisplay);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    /* height: 25%; */
    position: fixed;
    margin-left: var(--waffleSide_transition_end);
    background-color: var(--color_dark);
    overflow: hidden; /*prevents overflowing content from appearing*/
    transition: 1s;
    border-radius: var(--borderRadius_menu);
    padding-left: 2%; 
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%; 
    gap: 5px;
}

.waffleSub_close {
    position: relative;
    margin-left: -50%; 
    margin-top: 345%; 
}

.optn {
    background-color: var(--bgColorW);
    padding: 15px; 
    border-radius: var(--borderRadius);
    font-size: var(--typeButton_global);
    font-family: var(--typeBodyFace);
}

/* #optn_accessibility_ID {
    position: absolute;
    margin-left: -15%;
    margin-top: -120%;
}
#optn_sourceList_ID {
    position: absolute;
    margin-left: -15%;
    margin-top: -40%;
}
#optn_achievements_ID {
    position: absolute;
    margin-left: -15%;
    margin-top: 40%;
} */
#optn_close_ID {
    position: static;
    margin-left: 0;
    margin-top: 10%;
} 
    

    
.optn:hover {
    background-color: var(--websiteBackgroundColor_hover);
    /* font-size: var(--typeButton_hover_global);   */
    transform: var(--buttonHover_sizeUp);
    transition: 0.2s;
}

.accessibilityMenu {
    background-color: var(--color_dark);
    font-family: var(--typeBodyFace);
    color: var(--bgColorW);
    display: var(--menuDisplay); 
    grid-template-columns: 55% 35% auto; 
    width: var(--accessibilityFull); 
    overflow: hidden; 
    position: fixed; 
    margin-left: 40%; 
    border-radius: var(--borderRadius_menu);
    padding: 0; 
    /*& margin-top: 15%; /* FOR TESTING!!!!!!!!!!!!! ; REMOVE LATER */ 
}

.a_button {
    font-size: 10pt;
    background-color: var(--color_light);
    border-radius: 7.5px;
    font-family: var(--typeBodyFace)
}

.a_button:hover {
    background-color: var(--websiteBackgroundColor_hover);
    transform: var(--buttonHover_sizeUp);
    transition: 0.1s;
}

.menuMain {
    margin-left: 10%;
    margin-bottom: 2%;
    font-size: 14pt;
}
    
.a_bodyText {
    display: grid; 
    grid-template-columns: 50% auto;
    grid-template-rows: 30% 30%; 
    row-gap: 20%;
    padding: 10%; /* not working */ 
    margin-top: -7.5%; 
}
    
.a_website {
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30%; 
    row-gap: 20%;
    padding: 10%; /* not working */
    margin-top: -7.5%;
}

/* #myRange { */
    /* appearance: none; */ /* not working */
    /* width: 100%: */
/* } */  

.navMenu {
    background-color: var(--color_dark);
    font-family: var(--typeBodyFace);
    color: var(--color_light);
    display: var(--menuDisplay_grid);
    width: var(--navFull); 
    grid-template-columns: 45% 45% 5%;
    overflow: hidden;
    position: fixed; 
    margin-left: 60%;
    padding: 2%;
    border-radius: var(--borderRadius_menu);
}

.navHead {
    width: fit-content;
}

.navHead a:link {
    color: var(--color_light)
}

.navHead a:visited {
    color: var(--color_light)
}


.menuHead {
    font-size: 16pt;
    margin-left: 5%; 
    margin-top: 0%; 
    /* margin-bottom: -10%; */ 
}

.menuSubHead {
    font-size: 14pt;
    margin-left: -0.5%; 
    margin-bottom: 5%;
}
    
.navSubMenu {
    margin-top: -25%;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
}

.navSub {
    padding: 10px;
    display: flex;
    flex-direction: column; 
    font-size: 14pt;
}

.navSubSub{
    font-size: 12pt;
    margin-bottom: -5%; 
}

.navSubSub a:link {
    color: var(--color_light)
}

.navSubSub a:visited {
    color: var(--color_light)
}
    
.svgHome {
    margin-bottom: -70px; 
}

.achievementMenu {
    display: var(--achievementMenu_display);
    background-color: var(--color_dark);
    width: 20%;
    height: 30%; 
    position: fixed; 
    margin-left: 75%; 
    padding: 2%; 
    border-radius: var(--borderRadius);
    flex-direction: column; 
}

.achievement {
    display: flex; 
    flex-direction: row; 
    background-color: 0;
}

.achievementComplete_class {
    margin-right: 10%; 
    margin-left: 10%;
}

.achievementComplete1 {
    color: var(--achievementType1);
}

.achievementComplete2 {
    color: var(--achievementType2);
}

#achievement1_id {
    color: var(--achievementType1);
}

#achievement2_id {
    color: var(--achievementType2);
}

#achievement3_id {
    color: var(--achievementType3);
}

#accessibilityClose {
    margin-top: 15px; 
}


/* STATIC ELEMENTS */
.static {
    margin-left: 20%;
    margin-right: 20%; 
    /* background-color: red; /* plus margins */ 
}

.highlight {
    background-color: var(--highlight); /*not showing up in the first place*/ 
}
    
.head {
    font-family: var(--typeTitleFace);
    font-size: var(--typeTitleSize); 
    color: var(--typeTitleColor);
    transition: 0.2s; 
    background-color: var(--backdrop);
}

.tagline {
    font-size: var(--typeSize_tagline);
}
    
.subHead {
    font-family: var(--typeTitleFace);
    font-size: var(--typeTitleSize); 
    color: var(--typeTitleColor);
    transition: 0.2s; 
    background-color: var(--backdrop);
    margin-bottom: 5%;
}

.bodyContent {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    background-color: var(--backdrop);
}



.bodyFirstLine {
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySize);
    color: var(--typeBodyColor);
    font-weight: var(--typeBodyContrast);
    transition: 0.2s; 
    text-indent: 0; 
    line-height: var(--typeBodyLeading);
    margin: 0px;
}
    
.body {
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySize);
    color: var(--typeBodyColor);
    font-weight: var(--typeBodyContrast);
    transition: 0.2s; 
    text-indent: var(--typeBodyIndent); 
    line-height: var(--typeBodyLeading);
    margin:0px; 
    background-image: var(--websiteBackgroundImage);
}

.body_subHead {
    display: absolute; 
    font-size: var(--typeSubHeadSize);
    margin-bottom: 3%; 
    transtiion: 0.2s;
    color: var(--typeBodyColor);
}

.bodyQuote {
    text-indent: var(--quoteIndent);
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySize);
    color: var(--typeBodyColor);
    font-weight: var(--typeBodyContrast);
    transition: 0.2s; 
    text-indent: 0;
    line-height: var(--typeBodyLeading);
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    background-image: var(--websiteBackgroundImage);
}
 
.linkExternal {
    background-color: var(--color_temp);
}

.oneImage {
    display: flex; 
    width: auto;
    height: 350px; /*!!!need to correct vertical px later—edit flex itself? */
    background-color: var(--color_temp);
}

.twoImages {
    display: flex; 
    gap: 1%;
    justify-content: space-evenly;
    margin-left: -5%;
    margin-right: -5%; 
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySize);
    line-height: var(--typeBodyLeading);
    color: var(--typeBodyColor);
    background-color: var(--backdrop);
    margin-top: 10%;
    margin-bottom: -7.5%;
}

.threeImages {
    display: flex; 
    gap: 5%;
    justify-content: space-evenly;
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySize);
    color: var(--typeBodyColor);
    margin-top: 10%;
    margin-bottom: -7.5%;
}

.imageLeft {  
    width: 40%;
    height: 350px; 
    margin-top: 5%;
}

.imageRight {
    width: 40%;
    height: 350px; 
    margin-top: 5%;
}

.imageThreeLeft {
    width: 30%;
    height: 350px;
}

.imageThreeMiddle {
    width: 30%;
    height: 350px; 
}

.imageThreeRight {
    width: 30%;
    height: 350px; 
}

.twoButtons {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    margin-top: 5%; 
}

.threeButtons {
    display: grid; /*defines grid as a whole; child "commands" define alignment of each individual grid item through their divs */
    grid-template-columns: 33% 33% 33%;  
    /* border: 2px solid black; */ /*temp, grid testing */
}

.grid_3s {
    display: grid; /*rememeber—flex display will autofill the negative space for you... not what you want when controlling positions of each item in a grid*/
    justify-content: center; 
}

.buttonLeft {
    font-family: var(--typeBodyFace);
    font-size: var(--typeButton_global);
    background-color: var(--websiteBackgroundColor);
    border-radius: var(--borderRadius);
    border-color: var(--typeBodyColor);
    color: var(--typeBodyColor);
    border-style: solid; 
    padding: 30px; 
    position: absolute;
    margin-left: -30%;
}

.buttonLeft:hover {
    background-color: var(--websiteBackgroundColor_hover);
    /* font-size: var(--typeButton_hover_global); */
    transform: var(--buttonHover_sizeUp);
    transition: 0.2s;
}
    
.buttonRight {
    font-family: var(--typeBodyFace);
    font-size: var(--typeButton_global);
    background-color: var(--websiteBackgroundColor); 
    border-radius: var(--borderRadius);
    border-color: var(--typeBodyColor);
    color: var(--typeBodyColor);
    border-style: solid; 
    padding: 30px; 
    position: absolute;
    margin-left: 30%;
}

.buttonRight:hover {
    background-color: var(--websiteBackgroundColor_hover);
    /* font-size: var(--typeButton_hover_global);  */
    transform: var(--buttonHover_sizeUp);
    transition: 0.2s;
}
    
.buttonLeft_3s {
    font-family: var(--typeBodyFace);
    font-size: var(--typeButton_global);
    background-color: var(--temp_contrastMed);
    border-radius: var(--borderRadius);
    padding: 20px; 
    position: absolute;
    margin-left: -15%;
}

.buttonMiddle_3s {
    font-family: var(--typeBodyFace);
    font-size: var(--typeButton_global);
    background-color: var(--temp_contrastMed);
    border-radius: var(--borderRadius);
    padding: 20px; 
    position: absolute;
    margin-left: -15%;
}

.buttonRight_3s {
    font-family: var(--typeBodyFace);
    font-size: var(--typeButton_global);
    background-color: var(--temp_contrastMed); 
    border-radius: var(--borderRadius);
    padding: 20px; 
    position: absolute;
    margin-left: -15%;
}


.footer {
    color: var(--typeFooterColor);
    background-color: var(--footerBackgroundColor);
    margin-left:
    -5%; margin-right:
    -5%; margin-bottom:
    -5%; height: 125px;
}

.footerText {
    display: grid; 
    grid-template-columns: 20% 50% 30%; 
    padding: 20px;
    margin-top: 3%;
    font-family: var(--typeBodyFace)
}





/* MEDIA QUERIED STATIC ELEMENTS */





@media screen and (max-width: 768px) and (min-width: 0px), (max-height: 648px) and (min-height: 0px) {
    
    .global {
    position: fixed; 
    right: 60%; 
    bottom: 100%;
    display: flex; 
    flex-direction: row-reverse; 
    scale: 0.6;
    color: var(--websiteBackgroundColor);
    }
    .static {
    margin-top: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%; 
    }

    .waffleButton {
    margin-top: 100%; 
    margin-left: 425%; 
    width: 375%; 
    }
    .homeButton {
    margin-left: 25%; 
    margin-top: -220%;
    width: 375%; 
    }
    .headBG {
    background-color: var(--websiteBackgroundColor);
    display: block; 
    position: fixed; 
    top:60px;
    width: 2000px;
    height: 100px;
    margin-right: -800px;
    z-index: -1;
    }
    
    .waffle_subMenu {
    /* review (and add) padding for menu items */
    display: var(--menuDisplay);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    height: 25%;
    position: fixed; 
    right: -7%; 
    top: 1%; 
    margin-left: var(--waffleSide_transition_end);
    background-color: var(--color_dark);
    width: var(--waffleSide);
    overflow: hidden; /*prevents overflowing content from appearing*/
    transition: 1s;
    border-radius: var(--borderRadius_menu);
    padding-left: 70px;
    padding-right: 45px;
    padding-top: 50px;
    padding-bottom: 30px; 
    scale: 0.6; 
    }
    .accessibilityMenu {
    background-color: var(--color_dark);
    font-family: var(--typeBodyFace);
    color: var(--bgColorW);
    display: var(--menuDisplay); 
    grid-template-columns: 55% 35% auto; 
    width: var(--accessibilityFull); 
    overflow: hidden; 
    position: fixed; 
    margin-left: 15%;
    top: 22.5%; 
    left: -25%; 
    border-radius: var(--borderRadius_menu);
    padding: 0; 
    /*& margin-top: 15%; /* FOR TESTING!!!!!!!!!!!!! ; REMOVE LATER */ 
    scale: 0.6;
    }
    .footer {
    color: var(--typeFooterColor);
    background-color: var(--footerBackgroundColor);
    margin-bottom:
    -5%; 
    height: auto;
    }
    .footerText {
    display: grid; 
    grid-template-columns: 10% auto 10%; 
    padding: 20px;
    font-family: var(--typeBodyFace)
    }

.head {
    font-size: var(--typeTitleSize_min);
}
.tagline {
    font-size: var(--typeSize_tagline_min);
}
    
.bodyFirstLine {
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySize_min);
    color: var(--typeBodyColor);
    font-weight: var(--typeBodyContrast);
    transition: 0.2s; 
    text-indent: 0; 
    line-height: var(--typeBodyLeading);
    margin: 0px;
    }
.body {
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySize_min);
    color: var(--typeBodyColor);
    font-weight: var(--typeBodyContrast);
    transition: 0.2s; 
    text-indent: var(--typeBodyIndent); 
    line-height: var(--typeBodyLeading);
    margin:0px; 
    background-image: var(--websiteBackgroundImage);
    }

.body_subHead {
    font-size: var(--type_bodySubHeadSizeRegular_min)
}
    
.twoImages {
    display: flex; 
    gap: 1%;
    justify-content: space-evenly;
    margin-left: -5%;
    margin-right: -5%; 
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySize_min);
    line-height: var(--typeBodyLeading);
    color: var(--typeBodyColor);
    background-color: var(--backdrop);
    margin-top: 30%;
    margin-bottom: -7.5%;
}

.threeImages {
    display: flex; 
    gap: 5%;
    justify-content: space-evenly;
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySize_min);
    color: var(--typeBodyColor);
    margin-top: 10%;
    margin-bottom: -7.5%;
}

.imageLeft {  
    width: 40%;
    height: 350px; 
}

.imageRight {
    width: 40%;
    height: 350px; 
}

.imageThreeLeft {
    width: 30%;
    height: 350px;
}

.imageThreeMiddle {
    width: 30%;
    height: 350px; 
}

.imageThreeRight {
    width: 30%;
    height: 350px; 
}

.twoButtons {
    display: flex;
    /* grid-template-columns: 25% 25%; */
    /* column-gap: 5000px; */
    justify-content: space-evenly;
    margin-top: 5%; 
    z-index: -1;
}

.threeButtons {
    display: grid; /*defines grid as a whole; child "commands" define alignment of each individual grid item through their divs */
    grid-template-columns: 33% 33% 33%;  
    /* border: 2px solid black; */ /*temp, grid testing */
}

.grid_3s {
    display: grid; /*rememeber—flex display will autofill the negative space for you... not what you want when controlling positions of each item in a grid*/
    justify-content: center; 
}

.buttonLeft {
    font-family: var(--typeBodyFace);
    font-size: var(--typeButton_global_min);
    background-color: var(--websiteBackgroundColor);
    border-radius: var(--borderRadius);
    border-color: var(--typeBodyColor);
    color: var(--typeBodyColor);
    border-style: solid;
    padding: 6%;
    position: absolute;
    left: 35%;
    width: 45%;
    /* margin-left: -30%; */
    margin-right: 10%;
        z-index: -1;

}

.buttonLeft:hover {
    /* background-color: var(--websiteBackgroundColor_hover); */
    font-size: var(--typeButton_hover_global);
    transition: 0.2s;
}
    
.buttonRight {
    font-family: var(--typeBodyFace);
    font-size: var(--typeButton_global_min);
    background-color: var(--websiteBackgroundColor); 
    border-radius: var(--borderRadius);
    border-color: var(--typeBodyColor);
    color: var(--typeBodyColor);
    border-style: solid; 
    padding: 6%;
    position: absolute;
    left: 25%;
    width: 45%;
    /* height: 7.5%; */
    /* align-items: baseline;   */
    margin-right: 10%;
    /* margin-left: 30%; */
        z-index: -1;

}

.buttonRight:hover {
    background-color: var(--websiteBackgroundColor_hover);
    font-size: var(--typeButton_hover_global); 
    transition: 0.2s;
}
    
.buttonLeft_3s {
    font-family: var(--typeBodyFace);
    font-size: var(--typeButton_global_min);
    background-color: var(--temp_contrastMed);
    border-radius: var(--borderRadius);
    padding: 20px; 
    position: absolute;
    margin-left: -15%;
}

.buttonMiddle_3s {
    font-family: var(--typeBodyFace);
    font-size: var(--typeButton_global_min);
    background-color: var(--temp_contrastMed);
    border-radius: var(--borderRadius);
    padding: 20px; 
    position: absolute;
    margin-left: -15%;
}

.buttonRight_3s {
    font-family: var(--typeBodyFace);
    font-size: var(--typeButton_global_min);
    background-color: var(--temp_contrastMed); 
    border-radius: var(--borderRadius);
    padding: 20px; 
    position: absolute;
    margin-left: -15%;
}


    
}
