:root {

/*TYPOGRAPHY*/
/*SCALES*/ 
    --typeBodySizeSmall: 16pt;  /* scale your type sizes relative to eachother—like multiples... CHANGE TITLE SCALES? MAKE ALL* TYPE SCALES DERIVATIVE*/ 
    --typeBodySizeRegular: 20.8pt; 
    --typeBodySizeBig: 25.6pt; 
    --typeBodyContrastLight: lighter; /* may have to get rid of this; not widely applicable  */
    --typeBodyContrastRegular: normal;
    --typeBodyContrastBold: bold; 
    
    --borderRadius: 10px; 
    
    --typeTitleSizeSmall: 50pt; 
    --typeTitleSizeNormal: 65pt; 
    --typeTitleSizeBig: 80pt;

/* COLORS */ 
    --temp_contrastMed: #oklch(0.9691 0.0107 76.6); /*oklch to have hue slider seperate */ 
    --color_dark:#oklch(0.2276 0.1 78.19);
    --color_temp: oklch(1 0 0); 
        /* COLORS... PER TYPE HIERARCHY */ 
        --colorType_title; var(--color_dark); /* ??????????*/ 
        --colorType_body: var(--color_dark);

/* HIGHLIGHTS */
    /* */

/*FACES*/ 
    --typefaceSerif: "Times New Roman", "Baskerville", serif; 
    --typefaceSansSerif: "Arial", "Helvetica", sans-serif; 
    --typefaceFriendly: "Comic Sans MS", "Comic Sans", cursive; 
/* USE A WEB-HOSTED(?) FONT—WILL PULL FROM THE WEB; probably comes closer to what you wanted;
Google Fonts' "Get Embed Code" */ 
/* may need to change later on to account for global, user-driven changes */ 

/*typeset DEFAULT*/
    --typeBodyFace: var(--typefaceSansSerif);
    --typeBodySize: var(--typeBodySizeSmall);
    --typeBodyColor: var(--color_dark);
    --typeBodyContrast: var(--typeBodyContrastRegular);
    --typeTitleFace: var(--typefaceSansSerif);
    --typeTitleSize: var(--typeTitleSizeSmall);
    --typeTitleColor: var(--color_dark);
        
/* GLOBAL VARIABLES */
    --waffleSide: 0px;
    --accessibilityFull: 0px; 

/*button openings*/
    --waffleSide_close: 0px;
    --waffleSide_open: 20%;
    --accessibilityFull_close: 0px; 
    --accessibilityFull_open: 5fr; 
    
/*accessibility menu*/
    /*colors*/
    --bgColorB: #1e1c19;
    --bgColorW: #f9f4ed; 
    
/*test*/
    --primary-bg-color: #1e90ff;
    --primary-color: #ffffff; 
}

/* SVGs */
.cls-1 {
    fill: #1e1c19;
    stroke: #1e1c19;
    stroke-linecap: round; 
    stroke-width: 4.5px; 
}

.cls-2 {
    fill: #f9f4ed;
}

/* GLOBAL ELEMENTS */
.global {
    position: fixed; 
    right: 125px; 
    display: flex; 
    flex-direction: column; 
}

.waffleGlobal {
    width: 50px;
    height: 50px; 
    
}
 
.homeGlobal {
    width: 50px;
    height: 50px; 
    
}

/* GLOBAL ELEMENTS: buttons*/
.waffleButton {
    background-color: var(--temp_contrastMed);
    display:flex;
    align-items: center;  
    justify-content: space-evely; 
    padding: 15px; 
    border-radius: var(--borderRadius);
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySizeSmall);
}

.homeButton {
    background-color: var(--temp_contrastMed);
    display:flex;
    align-items: center;  
    justify-content: space-evenly; 
    padding: 15px; 
    border-radius: var(--borderRadius);
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySizeSmall);
}

.svgWaffle {
    margin-bottom: -70px; /* changing the bottom margins helps to shrink button/rid of unwanted negative space */
}

.waffle_subMenu {
    /* review (and add) padding for menu items */ 
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    height: 20%;
    position: fixed; 
    margin-left: 77.5%;
    background-color: var(--bgColorB);
    width: var(--waffleSide); 
    overflow: hidden; /*prevents overflowing content from appearing*/
}

.optn_accessibility {
    background-color: var(--bgColorW);
    padding: 10px; 
}

.accessibilityMenu {
    background-color: var(--bgColorB);
    font-family: var(--typeBodyFace);
    color: var(--bgColorW);
    display: grid; 
    grid-template-columns: 60% 30% auto; 
    width: var(--accessibilityFull); 
    overflow: hidden; 
    position:fixed; 
    margin-left: 15%; 
    margin-top: 15%; /* FOR TESTING!!!!!!!!!!!!! ; REMOVE LATER */ 
}

.a_bodyText {
    display: grid; 
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 30% 30%; 
    row-gap: 20%;
    padding: 2%; /* not working */ 
}

.a_website {
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30%; 
    row-gap: 20%;
    padding: 2%; /* not working */ 
}

.optn_sourceList {
    background-color: var(--bgColorW);
    padding: 10px; 
}

.optn_achievements {
    background-color: var(--bgColorW);
    padding: 10px; 
}

.svgHome {
    margin-bottom: -70px; 
}

/* STATIC ELEMENTS */
.static {
    margin-left: 20%;
    margin-right: 20%; 
}

@media screen and (min-width: 360px) and (max-width: 500px) { 
        .static {
        margin-left: 5%;
        margin-right: 15%; /* accomadated for Samsung Galaxy S8 */ 
    }
}

.title {
    font-family: var(--typeTitleFace);
    font-size: var(--typeTitleSize); 
    background-color: var(--color_temp);
    color: var(--typeTitleColor)
}

.body{
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySize);
    background-color: var(--color_temp);
    color: var(--typeBodyColor);
    font-weight: var(--typeBodyContrast);
    transition: 0.2s; 
}

.linkExternal {
    background-color: var(--color_temp);
}

.oneImage {
    display: flex; 
    width: auto;
    height: 350px; /*!!!need to correct vertical px later—edit flex itself? */
    background-color: var(--color_temp);
}

.twoImages {
    display: flex; 
    gap: 50px;
    justify-content: space-evenly;
}

.threeImages {
    display: flex; 
    gap: 5%;
    justify-content: space-evenly;
}

.imageLeft {  
    width: 40%;
    height: 350px; 
    background-color: var(--color_temp);
}

.imageRight {
    width: 40%;
    height: 350px; 
    background-color: var(--color_temp);
}

.imageThreeLeft {
    width: 30%;
    height: 350px;
    background-color: var(--color_temp);
}

.imageThreeMiddle {
    width: 30%;
    height: 350px; 
    background-color: var(--color_temp);
}

.imageThreeRight {
    width: 30%;
    height: 350px; 
    background-color: var(--color_temp);
}

.twoButtons {
    display: flex;
    gap: 50px;
    justify-content: space-evenly; 
}

.threeButtons {
    display: grid; /*defines grid as a whole; child "commands" define alignment of each individual grid item through their divs */
    grid-template-columns: 33% 33% 33%;  
    /* border: 2px solid black; */ /*temp, grid testing */
}

.grid_3s {
    display: grid; /*rememeber—flex display will autofill the negative space for you... not what you want when controlling positions of each item in a grid*/
    justify-content: center; 
}

.buttonLeft {
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySizeSmall);
    background-color: var(--temp_contrastMed);
    border-radius: var(--borderRadius);
    padding: 20px; 
}

.buttonRight {
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySizeSmall);
    background-color: var(--temp_contrastMed); 
    border-radius: var(--borderRadius);
    padding: 20px; 
}

.buttonLeft_3s {
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySizeSmall);
    background-color: var(--temp_contrastMed);
    border-radius: var(--borderRadius);
    padding: 20px; 
}

.buttonMiddle_3s {
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySizeSmall);
    background-color: var(--temp_contrastMed);
    border-radius: var(--borderRadius);
    padding: 20px; 
}

.buttonRight_3s {
    font-family: var(--typeBodyFace);
    font-size: var(--typeBodySizeSmall);
    background-color: var(--temp_contrastMed); 
    border-radius: var(--borderRadius);
    padding: 20px; 
}

/* variables are definited by a ":root", then called with a "var()" */ 
/*

:root{
    --colorBGtest: #1e1c19;
    --colorBGtest2: #f9f4ed;
}

*/
